<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title}}</title>

    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div id="page">
      <header>
        <hgroup>
          <figure>
            <img src="img/unicycle-small.png" id="logo" />
          <h1>UniScript</h1>
        </hgroup>
      </header>

      <div id="main" role="main">
        {{ content }}
      </div>

      <footer>
        <p>&copy;?</p>
      </footer>
    </div>
  </body>
</html>
